<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <p>This site was created by Thabiso Ledwaba.</p>
    <img src="/img/ThabisoLedwaba2.jpg">
    
    {{>footer}}
</body>

</html>